* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
a :hover {
  color: #3498db;
}
a :after {
  color: #2980b9;
}
main {
  background-color: white;
}

.latest {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  color: black;
  text-align: center;
  /*display: inline-block; */
}
.intro {
  text-align: center;
  border: 5px solid #2ecc71;
  background-color: #2ecc71;
  margin-bottom: 10px;
  margin-top: 0;
}
.top-stories {
  background-color: #ecf0f1;
  border: 2px solid black;
  /*float: left;*/
  max-width: 50%;
  margin: 5px 5px 15px 5px;
}
.latest .top-stories img {
  width: 100%;
  border: 2px solid black;
}

.right-sidebar {
  border: 2px solid white;
 position: absolute;
 top: 44px;
 right: 1px;
 max-width: 48%;
 margin-left: 2px;
 margin-right: 12px;
}
.right-sidebar h2 {
  text-align: center;
}
.side-stories-title {
  font-family:
}
